<h1>gif index</h1>

<img src="data:image/jpg;base64,<%= Base64.encode64(@img) %>">

  <img src="data:image/jpg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAkGBxQTEhUUExQUFRUVFRQVFBQX
FxQUFBUUFRQWFxQXFRUYHCggGBolHBQVITEhJSkrLi4uFx8zODMsNygtLiwB
CgoKDg0OFxAQFywcHBwsLCwsLCwsLCwsLCwsLCwsLCwsLCwsLCwsLCwsLCwr
LCwsNyssNyw3KyssLCsrKysrLP/AABEIAKIBNwMBIgACEQEDEQH/xAAbAAAB
BQEBAAAAAAAAAAAAAAAEAQIDBQYAB//EADsQAAEDAgQEBQIFAwMDBQAAAAEA
AhEDIQQFEjFBUWFxBiKBkaGxwRMyQtHwI2LhFFLxBzOyFXKCkqL/xAAYAQAD
AQEAAAAAAAAAAAAAAAAAAQIDBP/EAB8RAQEAAgMBAAMBAAAAAAAAAAABAhES
ITFBIlFhA//aAAwDAQACEQMRAD8A0TXTxRFJqHay6OwlNdjhS0mKq8T5j+FS
cBuRA7nZXOIeGtWNz+sHSXX0/Xgs8q0xx7Z2g2383VnhWaRzJQdGnAvvuenR
H0Qsm8GF/DlupS+B8oVhUhq2KWz0Jwrv3UGKqkuKmomAhqqVM6ipXNMR6lJh
mz6I3B4eTKJNip8GzQyTuoHVZ34onGOBsEDUdwVVMLWqcfbuoWslc50+iIp0
7qTEYalZTYyvAgJGnSFXV3T3Kq3UL0jrhSYVkz0TeEIvDU4aeqmHT6RgTzXF
386pKe/RQlyrZCKlWAqeq8vcpMVWkwE6k2ErdnEmHbCMpuub7IakbSntNkQU
PiakuTQbKHVJPdSHcBI07FJNlC3ZOJTB4KmYUOwqUOThG1H/ACoKbJcOpTqr
1PlzZeJ4I9AXO3zU0jhpb7K0qmGAdFTjz1/WflWeIfdOe2lUdd6FwDZcXJaz
7FLlghvcpfT+LCvYBcm5g6IHIBcqKCqdNG4anxTcM2QiHeVpW1rlkUmc4mAf
5fgshjK2p4ZM6fM7qf8AlXWcV5eeQGo/b7rNZOdX4jz+p0D0/wCVlW2MEtZe
6Mw9NIGJWlZ1rD3m6Um6jpMMo2iAkZrjAUBKnxG/YKHCs1OQFphMN5OqNYAx
qeylACAzDFiYV+I9Q1au6iDbSdylkEgIiuGmAOChQbQjaTbKOlTkIrTA9E5B
UNR8n4QzhLwOSKDYEqLDtu53RALTZLiEVXsAFFhG8eaV7pcUFTtUNKrq1T3R
OMqwIQRHFFEdTYn/AIig1rvxALkgACSTt6qVDmbKSpsspjfGdJhim01I/Vs3
05qzyrO24hhIsRu3kq2NCMPcnunzc+ybhbAlLREqTEHYLnJHbrnhMitT3vTG
lMc5MEmSjcI6GvPIFV7DdT4qrFJ391kQUmQslznIiu+XFdlTdNElDCpdP4X0
zFugI3Kmy1o5mVV4ypwV5kw26Nn4RPRfEOZ1POQkQ+IdLz6rkX0Rq8LTgIfM
6kBGMWc8Q4rcDc+ULa1zMvn2Lik936qjob22C7K8Jpa1n+0X6nc/MobGt14h
jP00hqPfZvz9FcYZkXWdbYwmKIaEM02TMZVkpGOWdaCKZuUrXkFdSMykqgpA
78SQUTlVPzhVplW+S7pz0XxdZjU0t9FkalWSe602aukQssz8x7ozvacJ07Mc
y/09F1YibtaBzJPNMyzOm1rtJBi7Tv8A5Cl8VYPXhHsvIAeIuZadW3osJgyQ
0OadtnN4HrxHqlelybepUK1kS+vZYrKPEAcA15h447B3+VpjUs0pypsH132j
omkQxo5lBCtdGMdJ7JkLptgeigqmJJUjqiixDC6I24p0QHQYXkuO3BR4h1yj
6x0NgKufzU04hDgASSAALkrFZ3mxxB0MkUgexeeZ6dFL4jzr8QmlTPkB87h+
ojgOn1QeDw5OwlS0xhtLDcIRuTMdRxLOT5aesi3zCINMhzWkXsf58KfEQa1H
pUb9VG+2tx/Fp32ZHMqbDtUGIu4DkiGGy1YHU7lOc1MpBStsmRh3UT2qZRpB
G1qZmTrMb1lEtuULib1QOUIC5ayKIHRVdVqvKo8o7KmxTblXZ0WKsrGXBabA
DTRcekLOYZuqp2WnqCKMJYejJSj8y5SliVI2ueYaVjsbU1VCeDZjutNnFfRS
J6FYzGVtFBz+JB9ytq5sfVdk7NTqtT/c+B2b/klXFSw9EPklHTTaOMSe5ufq
isxENWd8bRT7uJ6qVrVFSKkBWaxNEQudcrmbJrtkAlVqssldBAQLRKJwDoeA
ieirHNKkSqDL7u9Vb5ybFVGUjze6eXox8GV8QC4j0WIzDLxRruDDpDxqaDcX
/MOonh1C0jnf1D3QXirDTSbUESx3/wCXWPzCXpzpQvy8uGpkcyASQP7mni3v
cfK0/h9lctDHiRYTxG8fIHyhfC9QOLnOHmAsRz4zz68x6rRsxoaAW2Fwf7SL
2PIgW7Kdq1tY4HJ5/MeI9iAVocHh6LTwnqsbmXiRrGOg7TEIjBYs6A9x4CfU
fz3U8qfFtmYKiQTpHlEJD+HpgNEcFlf/AF/S3oTB905mbBwBBsY9NrfKfIuK
XNqF5DZA3E79lgPFdXEuBa1ulhMGDLjPCfsF6EzEagoa2Ca7cc46Tuf5zKOQ
4vHsFhbw60b8/lanB4AGIIkDab/CNzfw9BLmW5fuZ+irsPjX0zD2kddvWD9o
T2pLmtKKZJ/TdrtyRMEGN4JF1VZM4vr0weBLj/8AEE/ZOzjHayYMcxtM8R07
+5RPhahepVIiG6W+u/rAHulrtVusWhpukk9UUXW7oHDOsjRwVsUrBsEspUkJ
kUFRlTBqR7EBBSfcqPB+arPVJVdAKdk4vKDaGubKhzCrAKusYfJKy2Y1Zsrz
qcYLyOnJnqtBXdaOyqcnpwAj6rxKMeoV9Q1GCFybUeJXI6NYZ8Q/+nO+/ZZP
xGZNKiP1OEj+0XP0WnLZL6kzLj7Cw+ixBr/i462zGu/b7q8mOEaPC003MGS1
FURLeoQ+IuCprSKLTBUrDNlHXkFOpBZLFOXFNqyE2m+4KDEUT8paZh/ZRAjh
PqnA7lAWuZgFgPMKry9kOPZGmpqpxy+iFw9k76XxVu/7j+6mzenNAtOxCgb/
ANx3dS+IK+mil+zUmBxjaTIaRq57IfMs5DfKyZdBI5EEEFp7j7X3VXSDqhho
9VDjsG8AONwOIv7qNL2usr/qPY1xkNDnEc42B9Vqn4guwzxsdcjh5eA9vosp
4FeDXLTxYfgj91sfEGE04aodhEg9RdH3R/1mcdmv9PSDt7yNkuWZ0dABN5+Z
ueyy1SoSYRmXh/6YAF5PBGhK9Ly/MLDmeavcO4ETPyvPcqbiH/kdTdaQXODA
RyDjxRFDP30iC5ttWkyRAcDBBjdLRtvWZIgrD+M8EGtLx+b+En6LcYWo2o0O
DgZEyCFS+K8lfVpO0xPBKUPM8BiuDtuM7RsVq8t8uHjiTc9/8QPRYmrRqUqk
ObtaDcLaYQf0Wj1Pcq4i0ThX3VjSqXVVQEFHU3bpwhjaqlD9kFqTy5PYHten
6kCx/BTVHEBMg+NcpMO7S0KKoJITj53Bo2CQW+Nrf0QeJWaYNT1cZ3WhoaOA
hBZXSvKrLsp4tMP5QpG1Z3UVV8CEjSEwWoQkURElckGbx2Pr4Z2l5JYePL/C
j8MUZc+qf1EAf+0XJ9z8Kw8bvsZ4IfL8xpvaNBAgDy7EdIV/Wc8aSm6DITMW
IuNihMPjOaOZUBEFKqUuOKhpusjcwoKsYYss1LKmQ5sKB1OElFylqAWKDQh1
1IypuhnyCup1CkFg2tFk91S0jl7IJmIMgGElXERMJ7AOg6XOPVBeLsVLWtB7
orCPBJjyk8OHoeCrc/p7TbgDu0+oU7VIq8qxYZINp2PpCU1Q2j+EDqcSTa9y
ZQrcE/fhzEe/bqtD4c8OvkVnCYMsbsSeBvwSPTT/APT/AMJmlFWqwyRbewPA
rfZ/lIqUCIG0geiw2GzeqDEP1if6ZIBJBtB2grfZZVqVGN1tAP6hM/a6cu1Z
4cZ68ArYUNqvabRqtyANvWEbl1Frqbm6omb916B488DBzjWpje508Ocjl1Xn
78oe0nQZ076Tw6oqItMHiW4ek1gdqdEao8oPEqsfU1eU7XnqSZJ90N/pCef7
IvB4F54jnPD/AAltcix8OPqUXeVxLJ/L/gr0DB40PCyuS4UCQb9YWho0C3YH
7KFAPEXhynXEjyu5gKqp4NzAA7cACefVbKnSlD5jgJbI4KsajJlBSupmtsp3
0k3SrQhKcCnOCSEGc111JUfMBQJS6EE6vW0hG5NRgF5VTQH4lToFf4g6WQE4
VVOOfrerHCU9NOearaNPU7uVY42rpAaE5+whq1gYUj6tgEFqTqZRsxtMwFyG
L1yNlpXePmQ0nnZYrCYdegf9Q6csYBxcPiSsm+j+GyYubAdVd6rLC7miYPNX
MIYfMPlvYrR4PHSJBnpxWTwuFIMncqyY0i4t2U7aaacYoOEFA4ykNwgKOMI/
N7/uEX+NI5pUQlF9kW18hANMFSfiwpNLVjl8qHW0cPlOfUlDykYl9Qbx8lQG
sP8Aaff9wVxE7lRmoBsP534eiAXDkT+Vze5Z9C0JcbT5PaO4j/xJn1BUVGZk
sa2+7ib/AP2N1Y1WzFmHs37mFOS8QuUYBrjJDHAXOmQ0nhIgA+y0Qr6SAN+S
qMvrBjiLX4jYKxpnzSlO16TDCPe/VraDERFvdXuXZg+mQ2pbruCNt1SteZlT
OxBI0m4/nyqlO9ttQxwdYn7gjssx4m8NUXEVKbdDryWOgHu3igMvxbgYJ22P
MdeqsMxxWpulzQYvIJFuccY5Ktsrjqsc3CFpIDBbcmw+ZXDDgu0g34g6viy0
mGaGgkyJ2IJj2P2QlnElrmu7gF3z9is1xNl2FAAsAe6tiy20qno0jqEGOYuQ
fe49z2C0GFYSIIj59ikKfhKSLq0PIVNh6KKNOy0xjPKsBXZcoZ7Va5rRLXkE
dVXvCpIUhNhSuCYUjRuCDxdbgOKJrVIQmCZqcXnYGB3QFrlGH0/U91Pjn8Eu
FfAUVYyU/hFwNOAX8tu6Gq1dTpJROKdpYGjuVWyiqickKRmlDBSApDSTy9Uq
hKRAWniahrqUxyBPus1icNqqf2tsO/Fa/NXQXO4/lCq6WGELfPtzf5dKGphF
G2mQtBUwyFqUAsrGyncxRBpFxZWVSgh3U1Oz0ibiiNx6j9lI2sDxUbqahfRR
s9DUg+B8oKXDY+91KcTwcIi0jZIH1DKZ+KQLe/H0PBO1g7FMc1AQ07uv3J+5
Kv2AObbb6qirNgRxsT9h/OauMoqktvsNlOUVjTRRg7KywIjdKKYTtlnLpr6L
C6FC2opBUVchooYpq2HLhYnUIIN+gP2PokY7j0RtB/3+ieyqufh6rhDtuIFp
HMRsR/Oq4LJwCCSehG6si6DupqVSeFu3FGi2IwmCYeFxx2PtsrPD0ALfH7Ku
oNkjornDBVIi0RTpKR9gnMTXhXGdZDxXXALRF+fRZ4vWj8aYUlrXCPKbmRxW
Ua5M4mKgqvhP1IDH1oCRm1SX+Ubn4HNHMYGtAGw2UeBoaWyfzH4HJTOKQhQ5
Po7yeCgCe53AcPlBurOmShipHFNcgyJZXQlhBOC5NclQa4zMyTyE+5Q1B90S
26ErNgroyc2It7JCCrNRdGpIUWICixpFfUpoWpRVgQoKgWdVFc5iicEZVCGe
FFVEBCYWqUpjktmhNJc3VIvIkbqRIE9lpE/ESSSCJMq4yp8ixVUGSrbC0tIS
yp4xaMUzWoCnVCMZX6SsvWukooJwwfVFUK7SNo9UWxjTcOB5hOYjYEYV2wH8
KmDCFaUG89kUzDAzPO3VVxRyVDG8+Ue6noxEQrEYBgvIhK4UhMEHmnqlcjME
2TJtKtaRAsq/Ct1TB2sicJTLTBVxFWLHJzkO2pwUwKtKsz2hqpuA5LyupW0u
IvY+q9gxlOWleUeJsK9lQ7aTcGwSpxD/AKoRum4Oj+I7Ubtb8uVUxpc4NG5/
krSUWBjQ0bBBnEqNxUoTHNQZnBInEJCEjNSAJ8JEEQpJXFIUHojkqSFyAt8M
YCjxQskZUhOeZW9rCQPQqwp6jrIJ9ipBUss9rMeUPUen1noSo9TaqEquQ7il
qFMlZ7MxyalqbqMJGVyanuTYTArBUwTJVo1CYOn0R4fH6QfRRVRGaxGwHwp6
OPI3BPo36p9Kq3kO2n7omnUZxYR6hTpokZimu/SU+nM2B9U5jWcCZThVM8+q
pI6nWMQVE+pBtsD1juCnhmxnZShreIkfRUkyizVxt8hOfSgxPeUr8MabmuF2
/YhS12kwLQR+Y7TysjRbPpSIMxeOSPp5iJAdvw5qodh3gxpPpce6ecM4C4IV
SldNHTcDcGVIHqiwLnfwq2ZV5q4iw7EEkf8AK878a0gPNEHufovRKl1nM/pk
tMtB5EooYPKqEDURc/RWBekcSDdNDpQaVjkrgubT5JNSAUBO/DStcnByAGqN
IKjMo4qN1NGj2DJSEqdzVCWpHt0rkpC5A2IcnA2XLlqyRV0xcuUUw9ZDOXLl
FVDHqJcuUqNqKMLlyQKUg3XLkBdYEWCsaRXLklpoUkLlyVUfQFj2Kldw9Pol
XJwqIp8ETS3/AJySLk0Lhw/pnsEHQ3PouXKqmLZo8oTHDypVypIOmLFFUSuX
IgEnZUudflK5cqDC4ncpjFy5IxNJNqbpVyAaEq5cgzmFKVy5MjSoiuXJAi5c
uSD/2Q==" alt="" />