<section class="page">
	<div id="divsection">
		<h1> All Gifs </h1>
	</div>
	<div>
		<% @gif.each do |gif| %>
		<div class="gifbox">
			<div id="gifshot" >
				<%= link_to image_tag(gif.image_url), gif_path(gif.id) %>
			</div>
			<br>
			<div id="gifinfo">
				<%= render partial: "gif", locals: {gif: gif} %>
			</div>
		</div>
	</div>
		<% end %>
		
	</section>