<section class="page">
	<div id="divsection">
		<h1> ALL GIFS </h1>
	</div>
	<div>
		<% @gif.each do |gif| %>
			<div id="gifindex">
				<br>
				<%= render partial: "gif", locals: {gif: gif} %>
			</div>
	</div>
		<% end %>
</section>