<section>
	<div>
		<%= form_tag(gifs_path, method: :post) do  %>
		<ziggeo ziggeo-width=550 ziggeo-height=400 ziggeo-input_bind='videotoken' type='hidden'></ziggeo><br>
		<!-- add tag create inputs -->
		<br><%= image_submit_tag "http://i.imgur.com/cwRoKkc.png" %>
		<% end %>
	</div>
</section>