<section class="page">
	<div id="videorecorder">
		<%= form_tag(gifs_path, method: :post) do  %>
		<div id="ziggeo">
			<ziggeo ziggeo-width=550 ziggeo-height=400 ziggeo-input_bind='videotoken' type='hidden'></ziggeo>
		</div>
		<br>
		<p>Add some tags!</p>
		<%= text_field_tag :tag_one %> || <%= text_field_tag :tag_two %><br>
		<br><%= image_submit_tag "http://i.imgur.com/cwRoKkc.png" %>
		<% end %>
	</div>
	<div id="howto">
		<div id="howtosteps">
			
		</div>
	</div>
</section>