


<div style="margin-left: 350px;">
<%= form_tag(gifs_path, method: :post) do  %>
<ziggeo ziggeo-input_bind='videotoken' type='hidden'></ziggeo><br>
</div>
<div style="margin-left: 650px;">
<br><%= submit_tag "GifME" %>
</div>
<% end %>




