<div style="text-align:center">
    <form action="/tags/<%=@tag.id%>/add_gif" method="post">
      <input type="hidden" name="_method" value="put">
      <select name="post_id">
        <% @gifs.each do |gif| %>
          <option value="<%= gif.id %>"><%= gif.user.username + " -- " + gif %></option>
        <% end %>
      </select>
      <button>Add to tag</button>
    </form>


