.user_form select option[value="1"]   { background-image: url('http://www.merrickpubliclibrary.org/images/Dipiodocus.gif');   }
.user_form select option[value="2"] { background-image: url('https://www.google.com/search?q=cute+dinosaur&es_sm=91&tbm=isch&tbo=u&source=univ&sa=X&ei=JxJuVK78OszdsASxw4HABA&ved=0CB8QsAQ&biw=1160&bih=581#facrc=_&imgdii=_&imgrc=X8HJMhIfYfDkHM%253A%3BE7iL8y9TNVyDRM%3Bhttp%253A%252F%252Fwww.sciencekids.co.nz%252Fimages%252Fpictures%252Fdinosaurs%252Ftriceratops%252Ftriceratopscartoon.jpg%3Bhttp%253A%252F%252Fwww.sciencekids.co.nz%252Fpictures%252Fdinosaurs%252Ftriceratops%252Ftriceratopscartoon.html%3B552%3B597'); }
.user_form select option[value="3"] { background-image: url(); }
.user_form select option[value="4"]   { background-image: url();   }
.user_form select option[value="5"] { background-image: url(); }
.user_form select option[value="6"] { background-image: url(); }
.user_form select option[value="7"]   { background-image: url();   }
.user_form select option[value="8"] { background-image: url(); }
.user_form select option[value="9"] { background-image: url(); }
.user_form select option[value="10"]   { background-image: url();   }
.user_form select option[value="11"] { background-image: url(); }
.user_form select option[value="12"] { background-image: url(); }