
/*css reset*/
/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*LABEL FOR ALL FORMS */

label {
	font-family: 'Ubuntu Mono', cursive;
  font-size  : 15px;
  color: #ffffff ;
}

link {
	text-decoration: none
}

textarea {
	width: 25%;
}


/* css style */

/** ===================== GLOBAL STYLING ==================== **/
body {
	background: url("http://static.vecteezy.com/system/resources/previews/000/030/053/original/Mario_Clouds_preview.jpg");
	background-image: no-repeat 100%;
	}


a:link{
	text-decoration: none;
	color: black;

}

a:visited{
	color: red;
}

a:hover{
	color: cyan;

}

p {
	font-family: 'Press Start 2P', cursive;
}

h1 {
	font-size: 30px;
	font-family: 'Press Start 2P', cursive;
	color: #FF7F50;
}

h2 {
	font-size: 10px;
	font-family: 'Press Start 2P', cursive;
	color: black;
}

.sitename {
	width: 20%;
}

#userindexshow a img {
	height: 75%;
}
/** ===================== HEADER ==================== **/

.header {
	position: relative;
	height: 100px;
	display: inline-block;
	background-image: url("http://i.imgur.com/pTiKB7F.png");
	background-repeat:no-repeat;
  background-size:100% 100%;
	background-color: #FF7F50;
	padding: 10px;
	width: 100%;
}

/* GIF.ME COLOR SIGN */
#sitename { 
	position: absolute;
	bottom: 20px;
	left: 10px;
	float: left;
	padding-left: 40px;
	
}

/* SIZE OF THE COLOR SIGN */
#sitename img {
	height: 60px;
}

/* GIF ME HOVER BUTTON */
	#allgifsbutton {
		position: absolute;
		bottom: 10px;
		left: 385px;
		float: left;
	}

#allgifsbutton img {
	width: 100%;
}

/* USERS HOVER BUTTON */
	#userhover {
		position: absolute;
		bottom: 2px;
		left: 760px;
		float: left;
	}

	#userhover img {
		height: 110px;
		margin-bottom: 4px;
	}

/** ===================== .PAGE ==================== **/

.page {
	width: relative;
	margin: 30px;
	text-align: center;
}

.page h1{
 -webkit-text-stroke: 0px black;
   color: black;
   text-shadow:
       5px 5px 0 #fff,
     -1px -1px 0 #fff,  
      1px -1px 0 #fff,
      -1px 1px 0 #fff,
       1px 1px 0 #fff;
    font-size: 45px;

}

/** ===================== LOGIN FORM ==================== **/


/* LOGIN TEXT */
#login {
	position: absolute;
	float: left;
	margin-top: 5px;
	left: 1300px;
	padding-left: 130px;
	font-family: 'Press Start 2P', cursive;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
	text-shadow: 0px 2px 3px #555;

}


#login #login_button {
	 	width: 100px;
    margin-top: 10px;
    padding: 6px;
    color: #fff;
    font-size: 9px;
    font-weight: 400;
    text-align: center;
    background: rgba(255,255,255, 0);
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 3px solid #fff;
    display: table;
    position: static;
    clear: both;
    font-family: 'Press Start 2P', cursive;
}

/* LOG OUT BUTTON */
#endhover img {
	position: left;
	margin-right: 30px;
	float: right;
	height: 150px;

}





/** ===================== NEW USER FORM ==================== **/

#userform {
	background:rgba(255,255,255, 1);
	width: 50%;
	display: inline-block;
	text-align: left;
	margin-top: 10px;
	margin-bottom:10px;
	border: 4px solid #43b3e0;
	border-radius: 20px;
	padding: 20px;
	box-shadow: 
        0px 0px 0px 5px rgba( 255,255,255,0.4 ), 
        0px 4px 20px rgba( 0,0,0,0.33 );
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;


}


/****  READY SET GO! FONT FORMAT ****/
#userform h1{
	font-size: 35px;

}

/****  SIGN UP TO START MAKING PERSONAL GiFS ****/
#userform h2{
	font-size: 13px;

}


/**** JOIN GIF ME ****/
#userform #submit {
		font-family: 'Press Start 2P', cursive;
	  color: #5ec6f0;
   	background: #fff;
		font-size: 13px;
   	text-align: center;
    width: 30%;
    margin-top: 10px;
    padding: 12px;
    letter-spacing: -1px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 3px solid #5ec6f0;
    display: table;
    position: static;
    clear: both;
    
}

/* LABELS FOR NEW USER FORM */
#userform .input label {
    color: #5ec6f0;
    font-size: 15px;
    letter-spacing: 1px;
    margin-bottom: 4px;
    display: block;
    font-family: 'Ubuntu Mono', cursive;
    
}

#userform input[type="text"] {
    width: 40%;
}

/** ===================== USER INFO PAGE ==================== **/

#userinfo {
	float: right;
	background:rgba(255,255,255, 0.8);
	width: 40%;
	display: inline-block;
	text-align: center;
	margin-top: 20px;
	margin-bottom:20px;
	border: 2px solid #FF7F50;
	border-radius: 20px;


}

.uinfoname {
	font-family: 'Press Start 2P', cursive;
}

.uinfoedit {
	font-family: 'Press Start 2P', cursive;
}


#uinfophoto {
	width: 100%;
	border-radius: 100px;
}

.edituserinfo {
	width: 100%;
	text-align: center;
}

#ueditinfo {
	padding: 10px;
	background:rgba(255,255,255, 0.8);
	width: 60%;
	display: inline-block;
	text-align: center;
	margin-top: 20px;
	margin-bottom:20px;

}

#gifsindex {
	width: 100%;
	text-align: center;
}

#divsection {
	width: 100%;
	text-align:center;
}
#indexsinglegif {
	float:left;
	padding: 10px;
	background:rgba(255,255,255, 0.8);
	width: 30%;
	text-align: center;
	margin-top: 20px;
	margin-bottom:20px;
}

#videorecorder{
	padding-left: 60px;
	float: left;
	width: 550px;
}

#howto {
	margin: 0px 30px;
	float: right;
	width: 40%;
	height: 500px;
	background-image: url("http://i.imgur.com/93bmNjF.png");
	background-size: 100% 100%;
}

#howtosteps {
	padding: 35px 25px;
}

#showgif {
	float: left;
	width: 50%;
	background:rgba(255,255,255, 0.8); 
	padding: 10px; 
	text-align: center; 
	margin-top: 20px;
	margin-bottom:20px; 
	border: 2px solid #FF7F50; 
	border-radius: 20px;
}

#comment-tag {
	float: right;
	width: 40%;
	background:rgba(255,255,255, 0.8); 
	padding: 10px; 
	text-align: center; 
	margin-top: 20px;
	margin-bottom:20px; 
	border: 2px solid #FF7F50; 
	border-radius: 20px;
}

#userindex {
	display: inline-block;
	float: left;
	width: 100%;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 0px;
}



/** ===================== USER SHOW PAGE ==================== **/

/*BOX OF USERS EACH ONE*/

#userindexshow {
	display: inline-block;
	float: justify;
	background:rgba(255,255,255, 1);
	width: 20%;
	height: 25%;
	text-align: center;
	margin: 50px;
	border: 3px solid #000000;
	border-radius: 20px;
	padding-bottom: 10px;
	box-shadow: 
        0px 0px 0px 5px rgba( 255,255,255,0.4 ), 
        0px 4px 20px rgba( 0,0,0,0.33 );
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;

}

/* FONTS FOR EACH BOXED USER*/
#userindexshow h2 {
	font-family: 'Ubuntu Mono', cursive;
	font-size: 20px;
	font-weight: bold;
}

#userindexshow h3 {
	font-family: 'Ubuntu Mono', cursive;
	font-size: 15px;
}


/* USER PICTURE IN INDEX USER PAGE*/
.userindexphoto {
	height: 200px;
	width: 150px;
	margin-left: 110px;
	display:-webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;

}


/** ===================== GIF INDEX PAGE ==================== **/


#gifindex {
	display: inline-block;
	float: justify;
	background:rgba(255,255,255, 1);
	width: 30%;
	height: 25%;
	text-align: center;
	margin: 50px;
	border: 3px solid #000000;
	border-radius: 20px;
	padding: 20px;
	box-shadow: 
        0px 0px 0px 5px rgba( 255,255,255,0.4 ), 
        0px 4px 20px rgba( 0,0,0,0.33 );
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.gifall
{
	color: #43b3e0;
	font-family: 'Ubuntu Mono', cursive;
}
/*.logout:hover {
	background-image: url('http://i.imgur.com/ucNVzIp.png');

}*/





