
/*css reset*/
/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

label {
  font-family :'Press Start 2P', cursive;
  font-size  : 100%;
}
link {
	text-decoration: none
}

textarea {
	width: 90%;
}


/* css style */
.header {
	position: relative;
	height: 100px;
	display: inline-block;
	background-image: url("http://i.imgur.com/pTiKB7F.png");
	background-repeat:no-repeat;
  background-size:100% 100%;
	background-color: #FF7F50;
	padding: 10px;
	width: 100%;
}

#sitename { 
	position: absolute;
	bottom: 20px;
	left: 10px;
	float: left;
	width: 20%;
	
}

#sitename img {
	width: 100%;
}

#allgifsbutton {
	position: absolute;
	bottom: 5px;
	left: 250px;
	float: left;

}

#allgifsbutton img {
	width: 100%;
}

#userhover {
	position: absolute;
	bottom: 2px;
	left: 430px;
	float: left;
}

#userhover img {
	height: 110px;
	margin-bottom: 4px;
}

#login {
	position: absolute;
	float: left;
	margin-top: 10px;
	left: 620px;

	font-family: 'Press Start 2P', cursive;
	font-size: 15px;
}


h1 {
	font-size: 30px;
	font-family: 'Press Start 2P', cursive;
	color: #FF7F50;
}

h2 {
	font-size: 20px;
	font-family: 'Press Start 2P', cursive;
	color: black;
}

body {
	background: url("http://static.vecteezy.com/system/resources/previews/000/030/053/original/Mario_Clouds_preview.jpg");
	background-image: no-repeat 100%;
	}

p {
	font-family: 'Press Start 2P', cursive;
}

.page{
	width: relative;
	margin: 30px;
	text-align: center;

}

#userform {
	background:rgba(255,255,255, 0.8);
	width: 50%;
	display: inline-block;
	text-align: center;
	margin-top: 20px;
	margin-bottom:20px;
	border: 2px solid #FF7F50;
	border-radius: 20px;
	padding: 10px;
}

#userinfo {
	float: right;
	background:rgba(255,255,255, 0.8);
	width: 40%;
	display: inline-block;
	text-align: center;
	margin-top: 20px;
	margin-bottom:20px;
	border: 2px solid #FF7F50;
	border-radius: 20px;
}

.uinfoname {
	font-family: 'Rokkitt', serif;
}

#uinfophoto {
	width: 100%;
	border-radius: 100px;
}

.edituserinfo {
	width: 100%;
	text-align: center;
}

#ueditinfo {
	padding: 10px;
	background:rgba(255,255,255, 0.8);
	width: 60%;
	display: inline-block;
	text-align: center;
	margin-top: 20px;
	margin-bottom:20px;
}

#gifsindex {
	width: 100%;
	text-align: center;
}

#divsection {
	width: 100%;
	text-align:center;
}
#indexsinglegif {
	float:left;
	padding: 10px;
	background:rgba(255,255,255, 0.8);
	width: 30%;
	text-align: center;
	margin-top: 20px;
	margin-bottom:20px;
}

#videorecorder{
	padding-left: 60px;
	float: left;
	width: 550px;
}

#howto {
	margin: 0px 30px;
	float: right;
	width: 40%;
	height: 500px;
	background-image: url("http://i.imgur.com/93bmNjF.png");
	background-size: 100% 100%;
}

#howtosteps {
	padding: 35px 25px;
}

#showgif {
	float: left;
	width: 50%;
	background:rgba(255,255,255, 0.8); 
	padding: 10px; 
	text-align: center; 
	margin-top: 20px;
	margin-bottom:20px; 
	border: 2px solid #FF7F50; 
	border-radius: 20px;
}

#comment-tag {
	float: right;
	width: 40%;
	background:rgba(255,255,255, 0.8); 
	padding: 10px; 
	text-align: center; 
	margin-top: 20px;
	margin-bottom:20px; 
	border: 2px solid #FF7F50; 
	border-radius: 20px;
}

#userindex {
	display: inline-block;
	float: left;
	width: 100%;
	text-align: center;
	margin-top: 20px;
	margin-bottom:20px;
}

#userindexshow {
	display: inline-block;
	float: left;
	background:rgba(255,255,255, 0.8);
	width: 22%;
	height: 400px;
	text-align: center;
	margin: 20px 10px;
	border: 2px solid #FF7F50;
	border-radius: 20px;
}

#userindex img {
	border-radius: 20px;
	width: 100%;
}

#gifindex {
	display: inline-block;
	float: left;
	background:rgba(255,255,255, 0.8);
	width: 45%;
	height: 425px;
	text-align: center;
	margin: 20px 10px;
	border: 2px solid #FF7F50;
	border-radius: 20px;
}

.logout:hover {
	background-image: url('http://i.imgur.com/ucNVzIp.png');

}

.sitename {
	width: 20%;
}

#userindexshow a img {
	height: 75%;
}



